<div class="row">
    <div class="col-3 mx-auto border border-primary border-3 rounded-5 p-4 mt-5">
        <label for="username">Username</label>
        <input type="username" [(ngModel)]="username" class="form-control" >
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" >
        <div class="row">
            <button class="btn btn-outline-primary mt-3" (click)="creeSession()">Login</button>
        </div>
    </div>
</div>
